<div class="accordion flex flex-col gap-2">
    {% for item in fields.accordion_items %}
        <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="{{ fields.accordion_name }}" {% if item.default_open %}checked{% endif %} />
            <div class="collapse-title text-xl font-medium">
                {{ item.title }}
            </div>
            <div class="collapse-content">
                {{ item.content }}
            </div>
        </div>
    {% endfor %}
</div>
