{# Create a template for the block 

Define Fields at top with Semantic Names

Then The Markup 

Then JavaScript

#}

{% set example = 'something' %}

<div id="example">{{ example }}</div>


<script>
console.log('This is a block registered')
</script>